{% extends 'navbar.html' %}
{% load static %}
{% block title %}
	<title>User</title>
{% endblock %}

{% block page_content %}
	<h1>Welcome to the User Page</h1>
    <br><br>
	<p>{{content}}</p>
    <h1>User List</h1>
    <br><br>
    <ul>
        {% for user_profile in user_profiles %}
            <li>{{user_profile.login}} - {{user_profile.password}}</li>
        {% endfor %}
    </ul>
    <br><br>
    <!-- <script src="{% static 'login.js' %}"></script> -->
    <button type="button" onclick="loadForm('/user/login_form/', 'dynamicContent')">LOGIN</button>
    <button type="button" onclick="loadForm('/user/register_form/', 'dynamicContent')">REGISTER</button>
    <br><br>
    <div id="dynamicContent"></div>
{% endblock %}
