{% extends 'navbar.html' %}
{% load static %}
{% block title %}
	<title>User</title>
{% endblock %}

{% block page_content %}
	<h1>Welcome to the User Page</h1>
    <br><br>
	<p>{{content}}</p>
    <h1>User List</h1>
    <br><br>
    <ul>
        {% for user_profile in user_profiles %}
            <li>{{user_profile.login}} - {{user_profile.password}}</li>
        {% endfor %}
    </ul>
    <br><br>
    <div id="loginForm">
        <h1>Login</h1>
        <script src="{% static 'login.js' %}"></script>
        <form id="loginForm">
            {% csrf_token %}
            <label for="login">Login:</label>
            <input type="text" id="login" name="login" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <div id="errorMessage" style="color: red;"></div>
            <button type="button" onclick="submitLoginForm()">Submit</button>
        </form>
    </div>
{% endblock %}
