/* Font faces */
@font-face {
    font-family: 'PixelDogica';
    src: url('./fonts/dogica.otf') format('opentype');
}

@font-face {
    font-family: 'PixelMix';
    src: url('./fonts/pixelmix.ttf') format('truetype');
}

/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
    font-family: 'PixelMix', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
}

p {
	margin-top : 10px;
}

nav {
    color: grey;
    padding: 10px 0;
	text-align: center;
	margin: 0 auto;
	margin-left: 40px;
	margin-right: 40px;
    border: 2px solid grey;
}

ul {
    list-style: none;
}

li {
    border: 2px solid grey;
    display: inline-block;
    padding: 20px;
	margin-left: 30px;
    transition: color 0.3s ease, border-color 0.3s ease; /* Added transition for border color */
}

li a {
    color: grey;
    text-decoration: none;
    transition: color 0.3s ease;
}

li:hover a {
    color: white;
}

a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

#content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    color: grey;
}

#projectname {
    margin: 20px;
    font-size: 60px;
    text-align: center;
    font-family: 'PixelDogica', sans-serif;
    color: grey;
}

.navbar ul li a {
    color: grey;
    transition: color 0.3s ease;
}

.navbar ul li:hover a {
    color: white;
}

.navbar ul li:hover {
    border-color: white;
    color: white; /* Added to change the text color on li hover */
}
