{% extends 'base.html' %}

{% block title %}
    <title>User Profile</title>
{% endblock %}

{% block navbar_content %}
<div class="profile-grid">
    <div class="profile-title">
        <h1>Welcome, {{ request.user.username }}</h1>
    </div>
    <div class="profile-content">
        <p>Name: {{ request.user.last_name }}</p>
        <p>LastName: {{ request.user.first_name }}</p>
        <p>Username: {{ request.user.username }}</p>
        <button href="#" onclick="loadPage('/user/edit_profile/'); return false;">Modify Informations</button>
    </div>
    <div class="friends-title">
            <h2>Friends</h2>
    </div>
    <div class="friend-content">
            <ul>
                {% for friend_username, is_online, avatar_url, friend_id in friends %}
                <li>
                    {% if avatar_url %}
                    <img src="{{ avatar_url }}" alt="Avatar" class="avatar">
                    {% endif %}
                    <a href="#" class="user-profile-link" data-user-id="{{ friend_id }}">{{ friend_username }}</a>
                    {% if is_online %}
                    <span class="status-online" title="Online"></span>
                    {% else %}
                    <span class="status-offline" title="Offline"></span>
                    {% endif %}
                </li>
            {% empty %}
            <p>No friend.</p>
            {% endfor %}
        </ul>
    </div>
    <div class="requests-title">
    <h2>Friend Requests</h2>
    </div>
        <div class="requests-content">
            <ul>
            {% for request in friend_requests %}
                <li>
                    {{ request.creator.username }}
                    <div id="message-container"></div>
                    <button class="accept-friend-request" data-friendship-id="{{ request.id }}">Accept</button>
                </li>
            {% empty %}
                <p>No friend request.</p>
            {% endfor %}
        </ul>
    </div>
    <div class="history-title">
        <h2>Match History</h2>
        <p>Wins / Losses : {{win_count}} | {{loss_count}}
    </div>
    <div class="history-content">
        {% if match_history %}
            <ul class="match_history">
                {% for match in match_history %}
                    <li>
                        {{ match.date|date:"Y-m-d" }} |
                        {% if match.winner == match.player_one %}
                            <span style="color: green;"> {{ match.player_one }} </span> {{ match.player_one_score }} - {{ match.player_two_score }} <span style="color: red;">{{ match.player_two }}</span>
                        {% else %}
                            <span style="color: red;"> {{ match.player_one }} </span> {{ match.player_one_score }} - {{ match.player_two_score }} <span style="color: green;">{{ match.player_two }}</span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No match history.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
