{% load static %}
<h1>Register</h1>
<br><br>
<script src="{% static 'login.js' %}"></script>
<h2>
<form id="registrationForm">
        {% csrf_token %}
        <label for="FirstName">First name:</label>
        <input type="text" id="FirstName" name="FirstName" required></form>

        <label for="LastName">Last name:</label>
        <input type="text" id="LastName" name="LastName" required></form><br>

        <label for="NickName">NickName:</label>
        <input type="text" id="NickName" name="NickName" required></form><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="password">Retype password:</label>
        <input type="password" id="repassword" name="repassword" required></h2>
        <div id="errorMessage" style="color: red;"></div>
    <button type="submit" onclick="submitRegistrationForm()">Submit</button>
</form>
