{% extends 'base.html' %}

{% block title %}
<title>Register</title>
{% endblock %}

{% block navbar_content %}
<h1>Register</h1>
<h2>
<form id="registration-form" onsubmit="submitRegisterForm(event)">
    {% csrf_token %}
    {% for field in registration_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            {% if field.help_text %}
            <small style="color:yellow;">{{field.help_text}}</small>
            {% endif %}
            
            {% for error in field.errors %}
            <p style="color: red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}
    <button type="submit" name="register" value="register" id="submit_button">REGISTER</button>
</form>
{% endblock %}
