{% extends 'base.html' %}
{% block title %}
	<title>User</title>
{% endblock %}

{% block navbar_content %}
	<h1>Welcome to the User Page</h1>
    <br><br>
	<p>{{user_profiles}}</p> <!--Only for display debug-->
    <h1>User List</h1>
    <ol>
        <li>
            <p>Have an account ? Log in :</p>
        </li>
        <button type="button" onclick="loadContent('/user/login/', 'content')">LOGIN</button>
        <li>
            <p>Or register if you don't have an account :</p>
        </li>
        <button type="button" onclick="loadContent('/user/register/', 'content')">REGISTER</button>
    </ol>
    <button type="button" onclick="loadContent('/user/deleteusers/', 'content')">delete</button>
    <div id="dynamicContent"></div>
{% endblock %}
