{% extends 'base.html' %}
{% block title %}
	<title>User</title>
{% endblock %}

{% block navbar_content %}
    <ol>
        <li>
            <p>Have an account ? Log in :</p>
        </li>
        <button type="button" onclick="loadContent('/user/login/', 'content')">LOGIN</button>
        <li>
            <p>Or register :</p>
        </li>
        <button type="button" onclick="loadContent('/user/register/', 'content')">REGISTER</button>
    </ol>
    <div id="dynamicContent"></div>
{% endblock %}
