{% extends 'base.html' %}
{% block title %}
	<title>User</title>
{% endblock %}

{% block navbar_content %}
	<h1>Welcome to the User Page</h1>
    <br><br>
	<p>{{user_profiles}}</p> <!--Only for display debug-->
    <h1>User List</h1>
    <button type="button" onclick="loadForm('/user/login_form/', 'dynamicContent')">LOGIN</button>
    <button type="button" onclick="loadForm('/user/register_form/', 'dynamicContent')">REGISTER</button>
    <br><br>
    <div id="dynamicContent"></div>
{% endblock %}
