{% extends 'base.html' %}

{% load static %}

{% block navbar_content %}

<script src="{% static 'js/tournament/local_tournament.js' %}"></script>

<div>
    <h1>TOURNAMENT</h1>

    <h2>State of the players competing : </h2>

    <div class="playerstate">
        <div>
            <h3>USERNAME</h3>
            <label>TRUC</label>
        </div>
        <div>
            <h3>WIN</h3>
            <label>0</label>
        </div>
        <div>
            <h3>LOSS</h3>
            <label>0</label>
        </div>
    </div>

    <div class="playerstate">
        <div>
            <h3>USERNAME</h3>
            <label>TRUC</label>
        </div>
        <div>
            <h3>WIN</h3>
            <label>0</label>
        </div>
        <div>
            <h3>LOSS</h3>
            <label>0</label>
        </div>
    </div>

    <div class="playerstate">
        <div>
            <h3>USERNAME</h3>
            <label>TRUC</label>
        </div>
        <div>
            <h3>WIN</h3>
            <label>0</label>
        </div>
        <div>
            <h3>LOSS</h3>
            <label>0</label>
        </div>
    </div>

    <div class="playerstate">
        <div>
            <h3>USERNAME</h3>
            <label>TRUC</label>
        </div>
        <div>
            <h3>WIN</h3>
            <label>0</label>
        </div>
        <div>
            <h3>LOSS</h3>
            <label>0</label>
        </div>
    </div>
</div>

{% endblock %}