{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'style.css'%}">
    <script src="{% static 'base.js' %}"></script>
    <script src="{% static 'login.js' %}"></script>
	<script src="{% static 'play.js' %}"></script>
	<script>
		var droid ="{% static 'fonts/droid_sans_bold.typeface.json' %}";
		</script> 
	<script type="importmap">
		{
			"imports": {
				"three": "https://unpkg.com/three@0.161.0/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
			}
		}
	</script>	
	<script type="module">
		import { start } from "{% static 'practice/main.js' %}";
		window.startPongOffline = start;
	</script>
	<script type="module">
		import { start } from "{% static 'pong_game/main.js' %}";
		window.startPong = start;
	</script>
	<script type="module" src="{% static 'practice/main.js' %}"></script>
	  {% block title %}<title>P.O.N.G</title>{% endblock %}
</head>
<body>
	<h1 id="projectname">P.O.N.G</h1>

	<div class="navbar">
		<nav>
			<ul>
				<li type="button" onclick="loadContent('/', 'content')"><a>Home</a></li>
				<li type="button" onclick="loadContent('/play/', 'content')"><a>PLAY</a></li>
				<li type="button" onclick="loadContent('/user/', 'content')"><a>Login</a></li>
			</ul>

		</nav>
	</div>

	<div id="content">
		{% block navbar_content %}{% endblock %}
	</div>
</body>
</html>

