{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
	<script src="{% static 'js/play.js' %}"></script>
	<script src="{% static 'js/friends.js' %}"></script>
	<script src="{% static 'js/tournament/local_tournament.js' %}"></script>
	<script src="{% static 'js/tournament/online_tournament.js' %}"></script>
	<script src="{% static 'js/register.js' %}"></script>
	<script>
		var droid ="{% static 'fonts/droid_sans_bold.typeface.json' %}";
	</script> 
	<script type="importmap">
		{
			"imports": {
				"three": "https://unpkg.com/three@0.161.0/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
			}
		}
	</script>	
	<script type="module">
		import { start } from "{% static 'js/practice/main.js' %}";
		window.startPongPractice = start;
	</script>
	<script type="module">
		import { start } from "{% static 'js/game_local/main.js' %}";
		window.startPongLocal = start;
	</script>
	<script type="module">
		import { start } from "{% static 'js/game_online/main.js' %}";
		window.startPongOnline = start;
	</script>
	<script type="module">
		import { 
			startTournamentOnline,
			on_set_position,
			on_game_start,
			on_game_state,
			on_game_end,
		} from "{% static 'js/game_online/main.js' %}";

		window.startTournamentOnline = startTournamentOnline;
		window.tournamentEvents = {
			on_set_position,
			on_game_start,
			on_game_state,
			on_game_end
		}
	</script>
	<script type="module" src="{% static 'js/practice/main.js' %}"></script>
	  {% block title %}<title>P.O.N.G</title>{% endblock %}
</head>
<body>
	<h1 id="projectname">P.O.N.G</h1>

	<div id="navbar" class="navbar">
		<nav>
			<ul id="btnContainer">
				<li><a href="#" onclick="loadPage('/'); return false;">Home</a></li>
				<li><a href="#" onclick="loadPage('/play'); return false;">PLAY</a></li>
				<li><a href="#" onclick="loadPage('/tournament/'); return false;">TOURNAMENT</a></li>
				{% if user.is_authenticated %}
					<li><a href="#" onclick="loadPage('/user/online/'); return false;">Online users</a></li>
				{% else %}
					<li><a href="#" onclick="loadPage('/user/'); return false;">Login</a></li>
				{% endif %}				
			</ul>
		</nav>
	</div>
	{% if messages %}
    {% for message in messages %}
        <div style="color: red;">{{ message }}</div>
    {% endfor %}
	{% endif %}
	<div id="content">
		{% if user.is_authenticated %}
		<div class="user-info">
			<img src="{{ user.avatar.url }}" alt="Avatar" class="avatar">
			<a href="#" onclick="loadPage('/user/profile/'); return false;" class="username">{{ user.username }}</a>			
			<a href="#" onclick="logoutUser()" class="logout-link">Logout</a>
		</div>
		{% endif %}
		{% block navbar_content %}{% endblock %}
	</div>
<!-- <script>
	window.addEventListener('load', updateNavbar);
</script> -->
</body>
</html>

