{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/login.js' %}"></script>
	<script src="{% static 'js/play.js' %}"></script>
	<script src="{% static 'js/register.js' %}"></script>
	<script>
		var droid ="{% static 'fonts/droid_sans_bold.typeface.json' %}";
		</script> 
	<script type="importmap">
		{
			"imports": {
				"three": "https://unpkg.com/three@0.161.0/build/three.module.js",
				"three/addons/": "https://unpkg.com/three@0.161.0/examples/jsm/"
			}
		}
	</script>	
	<script type="module">
		import { start } from "{% static 'js/practice/main.js' %}";
		window.startPongPractice = start;
	</script>
	<script type="module">
		import { start } from "{% static 'js/game_local/main.js' %}";
		window.startPongLocal = start;
	</script>
	<script type="module">
		import { start } from "{% static 'js/game_online/main.js' %}";
		window.startPongOnline = start;
	</script>
	<script type="module" src="{% static 'js/practice/main.js' %}"></script>
	  {% block title %}<title>P.O.N.G</title>{% endblock %}
</head>
<body>
	<h1 id="projectname">P.O.N.G</h1>

	<div id="navbar" class="navbar">
		<nav>
			<ul id="btnContainer">
				<li type="button" page="/"><a>Home</a></li>
				<li type="button" page="/play/"><a>PLAY</a></li>
				{% if user.is_authenticated %}
					<li type="button" page="/user/profile/">{{request.user.username}}</li>
					<li type="button" page="/user/logout/">Logout</li>
				{% else %}
					<li type="button" page="/user/"><a>Login</a></li>
				{% endif %}
			</ul>
		</nav>
	</div>

	<div id="content">
		{% block navbar_content %}{% endblock %}
	</div>
<!-- <script>
	window.addEventListener('load', updateNavbar);
</script> -->
</body>
</html>

