{% extends 'base.html' %}

{% block title %}
	<title>Welcome</title>
{% endblock %}
{% block navbar_content %}
	<h1>Welcome to Our Project: ft_transcendence!</h1>
	<li>Hey there! We're thrilled to introduce you to ft_transcendence, a cool project we cooked up at 42.</li> 
	<li>It's the brainchild of us four : Lmaurin, Vpac, Agiraldi, and Akhellad. We've put in a ton of work, a bit of sweat, and maybe 
		a few tears, all to bring this project to life. </li>
	<li>What's ft_transcendence, you ask? Well, it's our playground where we've 
		applied everything we've learned at 42. From late-night coding sessions to epic brainstorming, we've pushed our 
		limits to create something we're really proud of. It's a mix of tech, teamwork, and a touch of creativity.</li>
	<li>This project is a snapshot of our journey through 42, showcasing not just our coding skills but how  
		we've grown as a team. We hope you'll take a moment to explore what we've built and maybe find a bit of inspiration for your own projects.</li>
	<li>Thanks for stopping by, and enjoy ft_transcendence!</li>
	<li>	Cheers, </li>
	<li>Lmaurin, Vpac, Agiraldi, and Akhellad</li>
{% endblock %}
