{% block title %}
	<title>Welcome</title>
{% endblock %}

{% block content %}
    <h1>What is P.O.N.G ?</h1>
	<p>P.O.N.G stands for Perfect Online Nostalgia Game .</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim congue turpis eu iaculis. Pellentesque at tellus elit. Suspendisse felis risus, sollicitudin eu augue sit amet, placerat venenatis lectus. Nunc condimentum, dui ac condimentum tincidunt, nisl nulla dignissim velit, quis scelerisque massa neque nec nisl. Ut a tellus commodo, sollicitudin justo vel, blandit ex. Sed viverra pharetra rhoncus. Morbi nec elementum leo. Pellentesque sed lacinia tortor, a venenatis quam. </p>
	<p>{{content}}</p>
{% endblock %}
